.head{  
     color:rgb(0, 157, 255);
     text-align: center; 
    }

.head2{
    color: rgb(0, 119, 255);
    font-size:larger;
    }

.list-group{
    font-size:medium;
    }

label[for=username] {
    padding: 11px;
    }

  #fullname,#firstname,#username{
     height: 45px;
     }
  
label[for=number] {
     padding: 11px;
     }
  
#phonenumber{
     height: 45px;
     }
     
label[for=phonenumber]{
     padding: 11px;
     }
  
label[for=email] {
     padding: 11px;
     }
  
#email{
     height: 45px;
     }
  
#link{
     height: 45px;
     }
  
label[for=link] {
     padding:11px;
     }

.tabletext{
      border: solid  1px rgba(255, 255, 255, 0.155);
      background-color: rgba(255, 255, 255, 0);
      width: 100%;
     }

.tabletext:hover{
      box-shadow: 0.5px 0px 5px ;
     }

table,th,td{
       text-align: center;  vertical-align: center; background-color: white;}

body{
       background-color: rgba(255, 0, 0, 0); padding: 30px;}

.body2{
       background-color:rgb(255, 255, 255) ;
        border-radius: 5px; 
        border:  solid 0.5px 1px rgb(255, 255, 255);
        box-shadow: 0.1px 0px 3px;
        padding:5px;
      }
 textarea:focus{
       outline:none;} 
  
 
.fi .eror{
        color: rgb(255, 0, 0); 
        font-size: 13px;
        }
.fi.error input {
    
         border:solid 0.5px #ff6347; 
         
              }
              

.fi.error  textarea{
    
         border:solid 0.5px #ff6347; 
              
                   }
.fi.error  select{
    
                    border:solid 0.5px #ff6347; 
                         
                              }
.fi.error input:focus{
    
            
              box-shadow: 0px 0px 0px 4px rgb(255, 0, 0,0.3);
                   }
                                     
.fi.error textarea:focus{
    
            
     box-shadow: 0px 0px 0px 4px rgb(255, 0, 0,0.3);
          }

.fi.error input[name='gender']:focus{
    
            
 box-shadow: 0px 0px 0px 4px rgb(255, 0, 0,0.3);
                    }
 
.fi .sucess{ 
         color: green; 
          font-size: 13px;}
.fi.success input{
    
     border:solid 0.5px lightgreen; 
         }
 .fi.success textarea{
    
          border:solid  0.5px lightgreen; 
              }        
.fi.success select{
    
               border:solid 0.5px  lightgreen; 
                   } 

.fi.success input:focus{
    
          box-shadow: 0px 0px 0px 4px rgb(0, 255, 0, 0.3); 
              }
        
.fi.success textarea:focus{
    
               box-shadow: 0px 0px 0px 4px rgb(0, 255, 0, 0.3); 
                   }
.fi.success input[name='gender']{
                       
                       border:solid 0.5px #f4f0ec ;
                        }                  
             
        
.btn-primary:hover {
          
          
          background-color: green; /* Change to your desired hover background color */
          border-color: #204d74; /* Change to your desired hover border color */
      }
