.head{color:rgb(0, 157, 255);
    text-align: center; }

    .head2{color: rgb(0, 119, 255);
    font-size:larger;}

    .list-group{font-size:medium;}
    label[for=name] {padding: 11px;}

  #fullname,#firstname,#name{height: 45px;}
  label[for=number] {padding: 11px;}
  #phonenumber{height: 45px;}
  label[for=email] {padding: 11px;}
  #email{height: 45px;}
  #link{height: 45px;}
  label[for=link] {padding:11px;}
#tabletext{border: solid 1px rgba(255, 255, 255, 0.155);
background-color: rgba(255, 255, 255, 0);
width: 100%; }
#tabletext:hover{box-shadow: 0.5px 0px 5px ;}
table,th,td{text-align: center;  vertical-align: center; background-color: white;}
body{background-color: rgba(255, 0, 0, 0); padding: 30px;}
.body2{background-color:rgb(255, 255, 255) ; border-radius: 5px; border:  solid 1px rgb(255, 255, 255);box-shadow: 0.1px 0px 3px;}
 textarea:focus{outline:none;} 
  
 
  .error{color: rgb(255, 0, 0); 
font-size: 13px;
}
.form-control-focus.success input{border-color: rgba(0, 128, 0, 0.727);box-shadow: 0 0 0 0.2rem;}

